@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0 1em;
    background-color: #323437;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* nav bar and footer code*/
.navBar {
    border-radius: 0.5em;
    margin-top: 6em;
    display: flex;
    padding: 1.25em 0;
    background-color: #2C2E31;
    gap: 3em;
    position: relative;
}

.navBar a {
    transition: ease-in-out 0.5s;
    text-decoration: none;
    margin: auto;
    color: #E2B714;
    font-size: large;
}

.navBar a:hover {
    transition: ease-in-out 0.5s;
    text-decoration: none;
    margin: auto;
    color: #646669;
    font-size: large;
}

.homeButton,
.browseButton {
    flex: 2;
    text-align: right;
}

.browseButton {
    text-align: left;
}

.footerBar {
    border-radius: 0.5em;
    padding: 1.25em;
    background-color: #2C2E31;
}


/* home page code*/
.contentBlock {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.leftContentHome {
    float: left;
    padding: 2em;
    margin: auto;
    margin-top: 1em;
    border-radius: 1em;
    background-color: #2C2E31;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.leftContentHome h1 {
    color: #E2B714;
}

.leftContentHome p {
    font-size: 20px;
    background: rgb(226, 183, 20);
    background: linear-gradient(180deg, rgba(226, 183, 20, 1) 50%, rgba(58, 176, 158, 1) 95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rightContentHome {
    float: left;
    padding: 2em;
    margin: auto;
    margin-top: 1em;
    border-radius: 1em;
    background-color: #2C2E31;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.contactUs {
    position: absolute;
    top: 1.1em;
    right: 2em;
    text-align: center;
}

.profileButton {
    transition: all ease-in-out 1s;
    height: 0px;
    width: 0px;
    border: 8px solid;
    border-color:
        #be9c21 #d4bb60 #E2B714 #E2B714;
    transform: rotate(180deg);
    float: right;
}

.leftContentHome:hover .profileButton {
    transition: all ease-in-out 0.6s;
    height: 0px;
    width: 0px;
    border: 8px solid;
    border-color:
        #3ab09e #2d9484 transparent transparent;
    transform: rotate(45deg);
    float: right;
}

.leftContentHome:hover {
    background-color: rgb(38, 39, 43);
    transition: all ease-in-out 0.3s;
}

.browseButtonPage {
    transition: all ease-in-out 1s;
    height: 0px;
    width: 0px;
    border: 8px solid;
    border-color:
        #379688 #56c2b2 #3ab09e #3ab09e;
    transform: rotate(180deg);
    float: right;
}

.rightContentHome:hover .browseButtonPage {
    transition: all ease-in-out 0.6s;
    height: 0px;
    width: 0px;
    border: 8px solid;
    border-color:
        #E2B714 #ad8f1f transparent transparent;
    transform: rotate(45deg);
    float: right;
}

.rightContentHome:hover {
    background-color: rgb(38, 39, 43);
    transition: all ease-in-out 0.3s;
}

.rightContentHome h1 {
    color: #2d9484;
}

.rightContentHome p {
    font-size: 20px;
    background: rgb(226, 183, 20);
    background: linear-gradient(180deg, rgba(58, 176, 158, 1) 20%, rgba(226, 183, 20, 1) 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Browse page code*/

.adPost {
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    color: #E2B714;
    background-color: #2C2E31;
    border-radius: 0.2em;
    padding: 0.5em;
    margin: 1em;
}

.adPost:hover {
    transition: all ease-in-out 0.3s;
    color: #E2B714;
    background-color: rgb(38, 39, 43);
    border-radius: 0.2em;
    padding: 1em;
}

.adPost p {
    color: #3ab09e;
}

/*ad page code*/

.profileInfo {
    background-color: #2C2E31;
    border-radius: 0.5em;
    padding: 1em;
    margin: auto;
    margin-top: 1em;
}

.profileInfo h3 {
    color: #E2B714;
    float: right;
}

.profileInfo h3 a {
    padding: 0.3em;
    border-radius: 0.3em;
    background-color: #151516;
}

.profileInfo h2 {
    color: #2d9484;
}

/* Mobile size media screen*/
@media screen and (max-width: 550px) {

    .footerBar {
        margin-top: 1em;
    }

    .navBar {
        border-radius: 0.5em;
        margin-top: 6em;
        display: flex;
        padding: 1.25em;
        background-color: #2C2E31;

    }

    .navBar a {
        transition: ease-in-out 0.5s;
        text-decoration: none;
        margin: auto;
        color: #E2B714;
        font-size: large;
    }

    .navBar a:hover {
        transition: ease-in-out 0.5s;
        text-decoration: none;
        margin: auto;
        color: #646669;
        font-size: large;
    }

    .contactUs {
        position: relative;
        top: 0;
        right: 0;
        text-align: center;
    }

}

/* desktop size media screen*/
@media screen and (min-width: 1200px) {

    body {
        margin: 0 1em;
        background-color: #323437;
        font-family: 'Roboto Mono', monospace;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

    }

    .contentBlock {
        display: flex;
        flex-wrap: nowrap;
        flex: 1;
    }

    .leftContentHome {
        margin-right: 1em;
    }

    .rightContentHome {
        margin-left: 1em;
    }
}