

/* Browse page code*/
select{
    
    background-color: #26282b;
    color: #E2B714;
    outline: none;
    border: 0px;
    margin: 1em;
    padding: 1em;
    width: 7em;
    border-radius: 1em;
}

.adPost {
    text-decoration: none;
    transition: all ease-in-out 0.6s;
    color: #E2B714;
    background-color: #2C2E31;
    border-radius: 0.2em;
    padding: 0.5em;
    margin: 1em;
}

.adPost:hover {
    transition: all ease-in-out 0.3s;
    color: #E2B714;
    background-color: rgb(38, 39, 43);
    border-radius: 0.2em;
    padding: 0.5em;
}
.adPost:hover p{
    transition: all ease-in-out 0.3s;
    color: #E2B714;
}
.adPost p {
    transition: all ease-in-out 0.6s;
    color: #3ab09e;
}

.plus-button {
    position: absolute;
    appearance: button;
	border: 0.15em solid #E2B714;
	background-color: #2C2E31;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	transition: all ease-in-out 0.3s;
	&:after,
	&:before {
		content: "";
		display: block;
		background-color: #3ab09e;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	&:before {
		height: 1em;
		width: 0.2em;
	}

	&:after {
		height: 0.2em;
		width: 1em;
	}
}

.plus-button:hover{

    transition: all ease-in-out 0.6s;
    transform: rotate(90deg);
    background-color: #E2B714;

}
.plus-button--large {
	font-size: 22px;
}