

.contentBlock{
 width: 100vw;
}

.profileInfo{
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    color: #E2B714;
}

.change{
    padding: 1em;
    margin: auto;
    text-decoration: none;
    background-color: #E2B714;
    color: #323437;
    border-radius: 1em;
}